@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap");

@font-face {
  font-family: snell;
  src: url(./SnellBTRegular.otf);
  font-weight: normal;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
body > div:first-child,
div#__next,
html {
  height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "PT Serif", serif;
  line-height: 1.5;
  background: #000000;
  color: #ffffff;
}

a {
  color: inherit;
  font-style: italic;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  font-size: 3rem;
  line-height: 1;
  margin: 0 0 1rem 0;
}

p + p {
  margin-top: 0.5rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

canvas {
  width: 100%;
}

input,
textarea,
select,
button {
  display: block;
  max-width: 100%;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

button,
.button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none;
  font-family: inherit;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  overflow: visible;
  text-transform: none;
  text-decoration: none;
  border: none;

  border-radius: 100px;
  transition: all 0.2s ease-in-out;
  padding: 1rem 2rem;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

button:hover,
.button:hover {
  background-color: #e4e4e4;
}

.font-snell {
  font-family: snell, serif;
  font-weight: normal;
}

.subdued {
  color: rgba(255, 255, 255, 0.5);
}

.hidden {
  display: none;
}

dl,
dt,
dd {
  margin: 0;
}

dt {
  color: rgba(255, 255, 255, 0.5);
}

dd {
  font-size: 1.25rem;
}

dd + dt {
  margin-top: 1rem;
}

input {
  border-radius: 4rem;
  border: 2px solid #5e5e5e;
  background-color: transparent;
  padding: 1rem;
  font-size: 20px;
  font-family: Crimson Pro, serif;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0.2);
}

input:focus-visible {
  border: 2px solid #ffffff;
  outline: none;
}

.page,
.main {
  min-height: 100%;
}

.page {
  padding: 4rem 1rem;
}

.intro {
  max-width: 40rem;
  margin: 0 auto;
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 4rem;
}

.flower-grid {
  max-width: 128rem;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
}

.flower img {
  border-radius: 1rem;
}

a + .flower-meta {
  margin-top: 0.5rem;
}

.flower-meta {
  text-align: center;
  margin: 0;
}

.flower-meta a {
  font-size: 1.25rem;
  text-decoration: none;
}

.flower-meta a:hover {
  text-decoration: underline;
}

.input-containers {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.center-content {
  margin: 0 auto;
  padding: 2rem 0;
  max-width: 42rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.flower-page-title {
  margin-bottom: 0;
}

.flower-detail {
  max-width: 72rem;
  margin: 0 auto;
  padding: 0;
}

.flower-attributes {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.flower-attributes div {
  border-radius: 0.5rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.05);
}

.flower-buttons {
  margin: 0 auto;
  max-width: 20rem;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.flower-buttons .button {
  text-align: center;
  width: 100%;
}

.flower-buttons .button:not(:last-child) {
  background: transparent;
  box-shadow: inset 0 0 0 2px white;
  color: white;
}

.flower-buttons .button:not(:last-child):hover {
  background: rgba(255, 255, 255, 0.1);
}

@media (min-width: 32rem) {
  .page {
    padding: 6rem 2rem;
  }

  .flower-grid {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .flower-attributes {
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  }
}

@media (min-width: 48rem) {
  .input-containers {
    grid-template-columns: repeat(2, 1fr);
  }

  .flower-detail {
    grid-template-columns: 1fr 16rem;
    grid-gap: 4rem;
  }

  .flower-attributes {
    padding: 0 2rem;
  }

  .flower-buttons {
    max-width: 28rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
  }

  .flower-buttons.has-gif {
    max-width: 42rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 56rem) {
  .flower-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 80rem) {
  .flower-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 96rem) {
  .flower-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
